<h1>{{product.title}}</h1>

<div style="width: 100%">
	<img src={{product.thumbnail}} style="object-fit: contain; width: 100%" alt="">
</div>
<p>Precio: {{product.price}}</p>

<a href="/productos">Ver todos</a>